@import 'settings';

@import 'header';
@import 'body';
@import 'car';

.color_red {
    background-color: #cf4132;
}
.color_blue {
    background-color: #2980b9;
}
.color_green {
    background-color: #27ae60;
}
