<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Backbone Example 1</title>
        <meta name="description" content="Backbone Example 1">

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/core.css">
        <link rel="stylesheet" href="/css/app1.css">
    </head>
    <body>
        <div id="app"></div>

        <script src="/js/core.js"></script>
        <script src="/js/app1.js" async></script>
    </body>
</html>
